<!-- Testimonial Start -->
<div class="container-xxl bg-light my-6 py-6 pb-0">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-6 mb-4"> Certains Productions émissions RADIO</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item bg-white rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="flex-shrink-0 rounded-circle border p-1" src="assets/img/radio.jpg" alt="">
                    <div class="ms-4">
                        <h5 class="mb-1">Radio Nationnale</h5>
                        <hr>
                        <span>émission YOUM SAID</span>
                        
                    </div>
                </div>
               <p class="mb-0">les rubrique : <br>EL kol yjina saision 1 <br> EL kol yjina saison 2 <br> chef el matinale ramadan 2023 <br> Blassa Aziza <br> Bledi laaziza <br> Mahlek yammi </p>
            </div>
            <div class="testimonial-item bg-white rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="flex-shrink-0 rounded-circle border p-1" src="assets/img/radio.jpg" alt="">
                    <div class="ms-4">
                        <h5 class="mb-1">Radio Nationnale</h5>
                        <hr>
                        <span>Emission Eddaweka </span><br>
                        
                    </div>
                    </div>
                <p class="mb-0"> Ramadan 2022</p>
                
               
            </div>
            <div class="testimonial-item bg-white rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="flex-shrink-0 rounded-circle border p-1" src="assets/img/radio.jpg" alt="">
                    <div class="ms-4">
                        <h5 class="mb-1">Radio Nationnale</h5>
                        <hr>
                        <span>Emission KHOBZEK MAKHBOUZ </span><br>
                        
                    </div>
                </div>
                    <p class="mb-0"> Ramadan 2022</p>
                
                
            </div>
            <div class="testimonial-item bg-white rounded p-4">
                <div class="d-flex align-items-center mb-4">
                    <img class="flex-shrink-0 rounded-circle border p-1" src="assets/img/radio.jpg" alt="">
                <div class="ms-4">
                    <h5 class="mb-1">Radio Nationnale</h5>
                    <hr>
                    <span>Emission MAJALESS EDHEKER </span><br>
                    
                </div>
            </div>
                <p class="mb-0"> Ramadan 2021</p>
                
                
            </div>
           
            
        </div>
       
    </div>
</div>


