
<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="owl-carousel header-carousel position-relative">
        
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="assets/img/img1.jpg" alt="">
            <div class="owl-carousel-inner">
                <div class="container">
                    <div class="row justify-content-start">
                      <div class="col-lg-8">
                        <h1 class=" text-light mb-6 animated slideInDown">Production audiovisuel Radio TV & publicité </h1>
                        <p class="text-light fs-5 mb-4 pb-3">Profitez de nos services .</p>
                        <a routerLink="/services" class="btn btn-primary rounded-pill py-3 px-5">Nos Services</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Carousel End -->
  
  <!-- Facts Start -->
  <div class="container-xxl py-6">
      <div class="container">
          <div class="row g-4">
              <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
                  <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="fa fa-certificate fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Années d'experience</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">10</h1>
                  </div>
                </div>
              <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                    <i class="bi bi-tv fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Production émissions TV</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">13</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                   <i class="bi bi-broadcast fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Production émmisions Radio</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">5</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.7s">
                <div class="fact-item bg-light rounded text-center h-100 p-5">
                  <i class="bi bi-camera-reels-fill fa-4x text-primary mb-4"></i>
                    <p class="mb-2">Spots publicitaire</p>
                    <h1 class="display-5 mb-0" data-toggle="counter-up">127</h1>
                </div>
            </div>
        </div>
    </div>

  </div>



  <app-about></app-about>
  
  <app-services></app-services>
  <app-clients></app-clients>
  <app-contact></app-contact>
  <app-pub></app-pub>
  
  <!-- Facts End -->
