<!------------------------------------------ About Start -------------------------------------->

<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" src="assets/img/logo1.jpg" alt="">
                    </div>
                    <div class="col-6 align-self-end">
                        <img class="img-fluid rounded" src="assets/img/logo2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                  
                    <h1 class="theme-text text-center mt-5 display-3 fw-bold">Présentation</h1>
                      <hr class="mx-auto mb-5 w-25">
                    <p>ŒIL Prod & pub est une agence de média , publicité et productions audiovisuelles Crée en 2013</p>
                    
                    <p> L’agence est spécialisée dans la création de contenus audiovisuels et publicitaires de qualité gérer par une équipe passionnée et expérimentée de professionnels des médias , de la publicité , de la production audiovisuelle , de la communication et du marketing , ainsi elle offre des services pour aider les entreprises a atteindre leurs objectifs en matière de marketing et de communication </p><p>
                      ŒIL Prod & pub  est La première agence de production radio TV en Tunisie  , La société est particularisé donc dans la production d’émissions radio et TV  dont l’équipe travail avec des producteurs , des réalisateurs , des techniciens de son et des opérateurs de caméra pour créer des émissions de qualité , aussi la société a également une expertise dans la production de spots publicitaire qui attirent l’attention de leur public 
                    </p><p>La société OeilProd & Pub est :
                      </p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Créative
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Passionnée et dynamique
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Toujours prête a relever de nouveaux défis
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Aide les clients a atteindre leurs objectifs
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-------------------------------------------- About End ------------------------------------------>
  
  

  