<!------------------------------------- Clients------------------------------>



<section id="clients" class="section-with-bg content">
    <div class="container" data-aos="fade-up">
       <div class="section-header">
         <h1 class="text-center mt-5 display-3 fw-bold">Nos <span class="theme-text">Clients</span></h1>
    <hr class="mx-auto mb-5 w-25">
       </div>
       <div class="row no-gutters supporters-wrap clearfix" data-aos="zoom-in" data-aos-delay="100">
          <div class="our-clients">
             <ul>
                <li><img src="assets/img/sicam.png" class="img-fluid" alt="Sicam"></li>
                <li><img src="assets/img/CARTE-ASSURANCES.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/ctama-assurance.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/agil.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/PACKTEC.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/LAICO TUNIS.png" class="img-fluid" alt=""></li>
                <li> <img src="assets/img/AGROLINE.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/Last-Price.png" class="img-fluid" alt="Last price"></li>
                <li><img src="assets/img/CHAKTECH.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/FLEUR DE LYS.png" class="img-fluid" alt=""></li>
                <li> <img src="assets/img/LHS.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/EVREN.png" class="img-fluid" alt=""></li>
                <li> <img src="assets/img/VEGA.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/LPRO.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/ITEL.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/xiaomi.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/franco.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/IDÉAL CUISINE.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/CURA LAB.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/CURA SHOES.png" class="img-fluid" alt=""></li>
                <li> <img src="assets/img/TCF EXPO.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/THAPSUS VOYAGES.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/MAISON NATURE.png" class="img-fluid" alt=""></li>
                
                <li><img src="assets/img/MARINA_PRESTIGE.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/HOUDA YASMINE HAMMAMET.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/BM WOOD.png" class="img-fluid" alt=""></li>
                <li><img src="assets/img/BOIS_DE_VIOLETTE.png" class="img-fluid" alt=""></li>
            </ul>
            <button  class="btn btn-primary  rounded-pill py-3 px-5" (click)="compte()">Créer compte client  & Profitez de nos services  </button>
          </div>
          </div>
          </div>
          
</section>     
 

 



