
  <div class="container-fluid content">
    <h1 class="text-center mt-5 display-3 fw-bold">Nos <span class="theme-text">Services</span></h1>
    <hr class="mx-auto mb-5 w-25">


    <div class="row mb-5">

        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="assets/img/productionRadio.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Production émission Radio</h3>
                    <hr class="mx-auto w-75">
                    <button class="btn btn-primary  btna rounded-pill py-3 px-5" (click)="pub()">Voir plus</button>
                  
                </div>
            </div>
            <!-- card ends here -->
        </div>

        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="assets/img/pub.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Spot publicitaire</h3>
                    <hr class="mx-auto w-75">
                    <button class="btn btn-primary  btna rounded-pill py-3 px-5" (click)="pradio()">Voir plus</button>
                </div>
            </div>
            <!-- card ends here -->
        </div>

        
        <!-- col ends here -->
        <div class="col-12 col-sm-6 col-md-3 m-auto">
            <!-- card starts here -->
            <div class="card shadow">
                <img src="assets/img/productionTV.jpg" alt="" class="card-img-top">
                <div class="card-body">
                    <h3 class="text-center">Production émission TV</h3>
                    <hr class="mx-auto w-75">
                    <button class="btn btn-primary  btna rounded-pill py-3 px-5" (click)="ptv">Voir plus</button>
                    
                </div>
            </div>
            <!-- card ends here -->
        </div>
       
        
        

    </div>
</div>




  
